body{
    margin: 0;
    padding: 0;
}
/*HeaderDiv*/
.HeaderDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
}

.HeaderFirstDiv{
    display: flex;
    align-items: center;
    width: 80%;
}

.HeaderLogo{
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 70px;
}

.MusicTalkBtn, .PlayListBtn, .MyPageBtn{
    background: none;
    border: 0px;
    font-family: 'Noto Serif HK', serif;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.MusicTalkBtn:hover,
.PlayListBtn:hover,
.MyPageBtn:hover{
    color: orange; 
}

.SearchDiv{
    border: 3px solid black;
    border-radius: 30px;
    width: 20%;
}

input[placeholder='검색어를 입력하세요.'] {
    border-radius: 50px;
    height: 35px;
    width: 80%;
    font-size: 13px;
    border: 0;
    outline: 0;
    position: relative;
    left: 10px;
    background: none;
}

.LoginBtn, .SignUpBtn{
    background:none;
    border: 0px;
    color: gray;
    font-size: 15px;
    font-family: 'Noto Serif HK', serif;
    font-weight: 700;
    cursor: pointer;
}

.LoginBtn:hover, .SignUpBtn:hover{
    color: black;
}