/*Mypage*/
.MyPageDiv{
    background-color: rgba(128, 128, 128, 0.222);
    border-radius: 30px;
    padding: 30px;
    margin: 0 0 30px 0;
}

.MyPageTop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.WelcomText{
    font-size: 30px;
    font-family: 'Black Han Sans', sans-serif;
    margin-bottom: 10px;
}

.UserProfile{
    background-color: beige;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.MyPageMiddle{
    display: flex;
    justify-content: end;
}

.MyPlayListBtn{
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: white;
    border: 0px;
    cursor: pointer;
    margin-bottom: 10px;
}




.MyPlayListBtn:hover{
    background-color: #F1C164;
}

.MyPageBottom{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

.MyPlayListTitle{
    font-size: 20px;
    font-family: 'Black Han Sans', sans-serif;
}

.MyplayListAlbumPhoto{
    width: 200px;
    height: 200px;
    background-color: rgba(128, 0, 128, 0.459);
    border-radius: 15px;
    margin-top: 10px;
}

.MyPlayListPhoto{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.LionImg{
    width: 100%;
    height: 100%;
}

.btn3{
    background-color: white;
    color: #F1C164;
    border: 0px;
    width: 50px;
    height: 50px;
    border-radius: 10px;

    position: relative;
    bottom: 15px;
}

.btn3:hover{
    background-color: #F1C164;
    color: white;
}