/*PlayList*/
.PlayListDiv{
    background-color: rgba(128, 128, 128, 0.222);
    border-radius: 30px;
    padding: 30px;
    margin: 0px 0 30px 0;
}

.PlayListHeader{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.PlayListTitle{
    font-size: 40px;
    font-family: 'Black Han Sans', sans-serif;
}

.SnsInterWorkingBtn,
.PlayListCreateBtn{
    border: 0px;
    background-color: white;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    margin: 0 0 0 10px;
}

.SnsInterWorkingBtn:hover,
.PlayListCreateBtn:hover{
    background-color:#F1C164;
}

.PlayListBar{
    display: flex;
    border: 2px solid black;
    justify-content: space-around;
    font-weight: 600;
    font-size: 15px;
    height: 25px;
    align-items: center;
    padding-top: 15px;
}

.PlayListCheckbox{
    position: relative;
    right: 8px;
    bottom: 9px;
}

.PlayListRank{
    position: relative;
    right: 30px
}

.PlayListMusicDetail{
    position:relative;
    right: 5px;
}

.PlayListAlbum{
    position:relative;
    left: 73px;
}

.PlayListLike{
    position:relative;
    left: 78px;
}

.PlayListListen{
    position:relative;
    left: 43px;
}

.PlayListPush{
    position:relative;
    left: 15px;
}

.PlayListRealAlbum{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.PlayListRealAlbumPhoto{
    width: 60px;
    height: 60px;
    border: 1px solid black;
    overflow: hidden;
}

.PlayListRealMusicDetail{
    display: flex;
    align-items: center;
}

.PlayListFooter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.PreviousBtn, .NextBtn{
    background-color: white;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border: 3px solid #F1C164;
    text-align: center;
    margin: 8px;
    cursor: pointer;
}

.PreviousBtn:hover, .NextBtn:hover{
    background-color: #F1C164;
}

.PlayListRealMusicText{
    position: relative;
    top:5px;
}

.LionImg2{
    width: 100%;
    height: 100%;
}