.MyPageDiv{
    height: 100vh;
    border-radius: 10px;
    background-color: rgba(219, 219, 219, 0.473);

}

.Profile{
    height: 43vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.UserPhoto{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-color: white;
}

.UserName{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 30px;
    color: black;
    text-shadow: 3px 3px  white;
}

.PlayListCreateBtn{
    display: flex;
    justify-content: space-between;
}

.MyPlayListText{
    margin-left: 25px;
    position: relative;
    top: 30px;
    font-size: 25px;
    color: #2e2e2e;
    font-family: 'Black Han Sans', sans-serif;
    font-weight: 600;
    background-color: white;
    border-radius: 10px;
    width: 330px;
    height: 35px;
    text-align: center;
}

.WriteBtn2{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-right: 25px;
    background-color: white;
    color: #F1C164;
    border: 1px solid white;
}

.WriteBtn2:hover{
    background-color: #F1C164;
    color: white;
    border: 1px solid #F1C164;
}

.MyPlayListDiv{
    height: 47vh;
}

.PlayListInBox{
    height: 43vh;
    margin: 20px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PlayListCollection{
    border: 2px solid black;
    height: 200px;
    width: 200px;
    margin: 20px;
    
}

.MyPlayList{
    height: 100px;
    width: 100px;
}

.PlayListCollection{
    display: flex;
    justify-content: center;
    align-items: center;
}

.A{
    background-color: pink;
}

.B{
    background-color: gray;
}

.C{
    background-color: blueviolet;
}

.D{
    background-color: palegoldenrod;
}